<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:catSearch="http://typo3.org/ns/Madj2k/CatSearch/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="search-box">
        <div class="container">
            <div class="search-box-inner">
                
                <f:if condition="{settings.header}">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="h5 headline search-box-headline">
                                {settings.header}
                            </h5>
                        </div>
                    </div>
                </f:if>
    
                <div class="row">
                    <f:variable name="filterCount" value="{searchOptions.filter.count}" />
                    <f:for each="{searchOptions.filters}" key="filterName" as="filterDetails" iteration="iterator">
    
                        <f:comment><!-- add some desktop-classes depending on number of filters--></f:comment>
                        <f:switch expression="{filterCount}">
                            <f:case value="2">
                                <f:if condition="{iterator.cycle} == 1">
                                    <f:then>
                                        <f:variable name="desktopClass" value="col-lg-8" />
                                    </f:then>
                                    <f:else>
                                        <f:variable name="desktopClass" value="col-lg-4" />
                                    </f:else>
                                </f:if>
                            </f:case>
                            <f:case value="3">
                                <f:variable name="desktopClass" value="col-lg-4" />
                            </f:case>
                            <f:case value="4">
                                <f:variable name="desktopClass" value="col-lg-6" />
                            </f:case>
                            <f:case value="5">
                                <f:if condition="{iterator.cycle} < 3">
                                    <f:then>
                                        <f:variable name="desktopClass" value="col-lg-6" />
                                    </f:then>
                                    <f:else>
                                        <f:variable name="desktopClass" value="col-lg-4" />
                                    </f:else>
                                </f:if>
                            </f:case>
                            <f:defaultCase>
                                <f:variable name="desktopClass" value="col-lg-12" />
                            </f:defaultCase>
                        </f:switch>
    
                        <div class="col-12 {desktopClass}">
                            <f:render partial="Search/Filters/Select"
                                      arguments="{filterOptions: filterDetails.filterOptions, filterType: filterDetails.filterType, 
                                                  filterName: filterName, search:search, data:data, settings:settings}" />
                        </div>
                    </f:for>
                </div>
    
                <f:if condition="{settings.showYear} || {settings.showTextQuery}">
                    <div class="row">
                        <f:if condition="{settings.showYear}">
                            <div class="col-12 col-lg-6">
                                <f:render partial="Search/Filters/Year"
                                          arguments="{filterOptions: searchOptions.years, search:search, data:data, settings:settings}" />
                            </div>
                        </f:if>
                        <f:if condition="{settings.showTextQuery}">
                            <div class="col-12 col-lg-6">
                                    <f:render partial="Search/Filters/Text"
                                              arguments="{search:search, data:data, settings:settings}" />
                                </div>
                        </f:if>
                        
                    </div>
                </f:if>
                
                <div class="row">
                    <div class="col-12">
    
                        <button type="submit"
                                class="btn"
                                title="{f:translate(key:'search.filter.start.label')}"
                                aria-label="{f:translate(key:'search.filter.start.arialabel')}"><span
                            class="icon-search"></span></button>
        
                    </div>
                </div>
    
                <f:if condition="{settings.showTags}">
                    <div class="row">
                        <div class="col-12">
                            <f:render partial="Search/Filters/Tags"
                                      arguments="{search:search, filtersCombined: searchOptions.filtersCombined, 
                                                  data: data, settings:settings}" />
                        </div>
                    </div>
                </f:if>
            </div>
        </div>
    </div>

</html>
