<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:catSearch="http://typo3.org/ns/Madj2k/CatSearch/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>

	<section class="catsearch variant-{settings.layout}" id="c{data.uid}">

        <f:if condition="{hashedParametersLink}">
            <script>history.replaceState(null,'','{hashedParametersLink}#c{data.uid}');</script>
        </f:if>
        
        <f:render partial="Header" arguments="{data: data, settings: settings, settingsForLayout: settingsForLayout}" />
        
		<catSearch:searchForm action="search" class="search-form" name="search" object="{search}" section="c{data.uid}" method="GET">
            <f:render partial="Search/Filters" arguments="{searchOptions: searchOptions, search: search, 
                                                           data: data, settings: settings, settingsForLayout: settingsForLayout}" />
            
            <f:render partial="Search/View" arguments="{resultCount: resultCount, searchOptions: searchOptions, search: search, 
                                                        data: data, settings: settings, settingsForLayout: settingsForLayout}" />
        </catSearch:searchForm>

        <f:if condition="{paginator.paginatedItems}">
            <f:render partial="Search/Results" arguments="{results: paginator.paginatedItems, pagination: pagination, 
                                                           search: search, hash: hash, data: data, settings: settings, 
                                                           settingsForLayout: settingsForLayout}" />
        </f:if>
        
	</section>


</html>
