<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:catSearch="http://typo3.org/ns/Madj2k/CatSearch/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>

	<section class="search" id="c{data.uid}">
		<catSearch:searchForm action="search" class="search-form" name="search" object="{search}" section="c{data.uid}" method="GET">
            <f:render partial="Search/Filters" arguments="{searchOptions: searchOptions, search: search, 
                                                           data: data, settings: settings}" />
            <f:render partial="Search/View" arguments="{resultCount: resultCount, searchOptions: searchOptions, search: search, 
                                                        data: data, settings: settings}" />
        </catSearch:searchForm>

        <f:if condition="{paginator.paginatedItems}">
            <f:render partial="Search/Results" arguments="{results: paginator.paginatedItems, pagination: pagination, 
                                                           search: search, data: data, settings: settings}" />
        </f:if>
        
	</section>


</html>
