<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:catSearch="http://typo3.org/ns/Madj2k/CatSearch/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

    <f:render section="{layout}" arguments="{_all}"/>  

    <f:comment><!-- ============================================================================== --></f:comment>

    <f:section name="Default">
        <div class="catsearch-detail-additional variant-{layout -> f:format.case(mode:'lower')}">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <f:render partial="Detail/Additional/Documents"
                                  arguments="{item: item, settings: settings}" />

                        <f:render partial="Detail/Additional/Media"
                                  arguments="{item: item, settings: settings}" />
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</html>
