<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true"
>

    <f:if condition="{item.header} || {item.mainImage}">
        <f:render section="{layout}" arguments="{_all}"/>
    </f:if>

    <f:comment><!-- ============================================================================== --></f:comment>

    <f:section name="Default">
        <div class="catsearch-detail-stage variant-{layout -> f:format.case(mode:'lower')}">
            <h1>Default: {item.header}</h1>
            <f:if condition="{item.mainImage}">
                <f:image image="{item.mainImage}" maxWidth="500" />
            </f:if>
        </div>
    </f:section>


</html>
